<block-ui>
  <!-- <app-recommendbar></app-recommendbar> -->
  <div class="home-container">
    <div class="row">
      <div
        class="col-md-3"
        style="
          width: 22.833333325%;
          flex: 0 0 22.833333325%;
          max-width: 22.833333325%;
        "
      >
        <app-mutual-friend-suggestion
          [userInfo]="userInfo"
        ></app-mutual-friend-suggestion>

        <app-sameinterest-friend-suggestion
          [userInfo]="userInfo"
        ></app-sameinterest-friend-suggestion>
      </div>
      <div class="col-md-6">
        <app-activeuser></app-activeuser>

        <!--Section: Newsfeed-->
        <section style="margin-top: 130px">
          <div class="card" style="margin-top: 20px" *ngFor="let item of posts, let i =index">
            <div class="card-body">
              <!-- Data -->
              <div class="d-flex mb-3">
                <a
                  href="javascript:void(0)"
                  routerLink="/profiles/{{ item.userId }}"
                  [routerLinkActive]="['router-link-active']"
                >
                  <img
                    src="{{ item.userAvatar }}"
                    class="border rounded-circle me-2"
                    alt="Avatar"
                    style="height: 40px"
                  />
                </a>
                <div>
                  <a
                    href="javascript:void(0)"
                    routerLink="/profiles/{{ item.userId }}"
                    [routerLinkActive]="['router-link-active']"
                    class="text-dark mb-0 ml-2"
                  >
                    <strong>{{ item.userName }}</strong>
                  </a>
                  <a
                    href=""
                    class="text-muted d-block ml-2"
                    style="margin-top: -6px"
                  >
                    <small>{{
                      item.createdAt | date : "short" : "local"
                    }}</small>
                  </a>
                </div>
              </div>
              <!-- Description -->
              <div>
                <p [innerHTML]="item.caption">
                </p>
              </div>
              <span class="span-more" (click)="onNewsfeedClick(item)"
                >more...</span
              >
            </div>
            <!-- Media -->
            <div
              class="bg-image hover-overlay ripple rounded-0 m-auto"
              data-mdb-ripple-color="light"
            >
              <img src="{{ item.displayImage.imageUrl }}" class="img-display" />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2)"
                ></div>
              </a>
            </div>
            <!-- Media -->
            <!-- Interactions -->
            <div class="card-body">
              <!-- Reactions -->
              <div class="d-flex justify-content-between mb-3">
                <div>
                  <a href="">
                    <i
                      class="fa fa-thumbs-up mr-1"
                      style="color: #3b71ca"
                      aria-hidden="true"
                    ></i>
                    <i
                      class="fa fa-heart"
                      style="color: #dc4c64"
                      aria-hidden="true"
                    ></i>
                    <span> {{ item.likes.length }}</span>
                  </a>
                </div>
                <div>
                  <a href="" class="text-muted">
                    {{ item.comments.length }} comments
                  </a>
                </div>
              </div>
              <!-- Reactions -->

              <!-- Buttons -->
              <div
                class="d-flex justify-content-between text-center border-top border-bottom mb-4"
              >
                <button
                  *ngIf="checkLikeStatus(item.likes); else notLike"
                  type="button"
                  class="btn btn-link btn-lg"
                  data-mdb-ripple-color="dark"
                  (click)="removeLike(item.id, item.likes, i)"
                >
                  <i class="fa fa-thumbs-up" aria-hidden="true"></i>Like
                </button>

                <ng-template #notLike>
                  <button
                    type="button"
                    class="btn btn-link btn-lg"
                    data-mdb-ripple-color="dark"
                    (click)="createLike(item.id, i)"
                  >
                    <i
                      class="fa fa-thumbs-o-up"
                      aria-hidden="true"
                    ></i
                    >Like
                  </button>
                </ng-template>

                <button
                  type="button"
                  class="btn btn-link btn-lg"
                  data-mdb-ripple-color="dark"
                >
                  <i class="fa fa-commenting-o" aria-hidden="true"></i>Comment
                </button>
              </div>
              <!-- Buttons -->

              <!-- Comments -->

              <!-- Single answer -->
              <div
                class="d-flex mb-3"
                *ngFor="let comment of item.comments.slice(0, 3)"
              >
                <a
                  href="javascript:void(0)"
                  routerLink="/profiles/{{ comment.userId }}"
                  [routerLinkActive]="['router-link-active']"
                >
                  <img
                    src="{{ comment.userAvatar }}"
                    class="border rounded-circle me-2"
                    alt="Avatar"
                    style="height: 40px"
                  />
                </a>
                <div>
                  <div class="bg-light rounded-3 px-3 py-1">
                    <a href="" class="text-dark mb-0">
                      <strong>{{ comment.userName }}</strong>
                    </a>
                    <a href="" class="text-muted d-block">
                      <small>{{ comment.message }}</small>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Interactions -->
          </div>
        </section>
        <!--Section: Newsfeed-->
      </div>
      <div class="col-md-3">
        <app-recommendbar></app-recommendbar>
      </div>
    </div>
  </div>
</block-ui>
