/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
  .breadcrumb {
    display: none !important;
  }
}

body .ui-button {
  margin-right: 0.5em;
}

/* styles.css */
html,
body {
  height: 100%;
  background-color: #f7f7f7c2;
  // background-color: #f3eded;
}

.app-root {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px; /* Adjust height for footer */
}
