<div class="header">
  <div *ngIf="isFollower; else following">Followers</div>
  <ng-template #following> Following </ng-template>
</div>

<table class="table">
  <tbody>
    <tr *ngFor="let follow of userFollows">
      <th>
        <img class="uh-image-inner" src="{{ follow.avatar }}" alt="" />
        {{ follow.userName }}
      </th>
      <th style="display: flex; justify-content: flex-end">
        <div>
          <button type="button" class="btn" (click)="handelRemove(follow.userId)" *ngIf="loginedUserId === userId">
            Remove
          </button>
        </div>
      </th>
    </tr>
  </tbody>
</table>
