/*search box css start here*/
.search-sec {
  padding: 15px;
  width: 80%;
  margin: 15px auto;
  border-radius: 10px;
  .container {
    padding: 0px;
    margin: auto;
  }
}
.search-slt {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}
.wrn-btn {
  background-color: #b28258;
  color: white;
  font-weight: bolder;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}
@media (min-width: 992px) {
  .search-sec {
    background: #7f7f7f;
  }
}

@media (max-width: 992px) {
  .search-sec {
    background: #7f7f7f;
  }
}

/*****************
    - Header -
*****************/
header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 120px;
  padding: 50px 0;
  color: #fff;
  background: #383838
    url(https://www.athenadesignstudio.com/plugins/switch/images/bg.jpg)
    no-repeat center center;
  margin-top: 30px;
}

/* Logo */
header .logo {
  clear: both;
  display: block;
  text-align: center;
  padding-top: 10px;
}

/* Title */
header h1 {
  font-weight: 300;
  font-size: 24px;
  color: #eee;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 !important;
  padding-top: 25px;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Open Sans:400,600,800");
h1,
h2,
h3,
h4,
h5,
h6,
div,
input,
p,
a {
  font-family: "Open Sans";
  margin: 0px;
}

a,
a:hover,
a:focus {
  color: inherit;
}

body {
  background-color: #f1f2f3;
}

.container-fluid,
.container {
  max-width: 1200px;
}

.card-container {
  padding: 100px 0px;
  -webkit-perspective: 1000;
  perspective: 1000;
}

.user-page-inner {
  width: 80%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  
}

.profile-card-2 {
  width: 400px;
  max-width: 400px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  background-position: center;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 10px;
}

.profile-card-2 img {
  transition: all linear 0.25s;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.profile-card-2 .profile-name {
  position: absolute;
  left: 30px;
  top: 23px;
  font-size: 25px;
  color: #fff;
  // text-shadow: 20px 20px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  transition: all linear 0.25s;
  z-index: 2;
}

.profile-card-2 .profile-icons {
  position: absolute;
  top: 35px;
  right: 30px;
  color: #fff;
  transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
  position: absolute;
  top: 65px;
  left: 30px;
  color: #fff;
  font-size: 16px;
  //   font-weight: bold;
  transition: all linear 0.25s;
  z-index: 2;
}

.profile-card-2 .profile-note {
  position: absolute;
  top: 90px;
  left: 30px;
  color: #fff;
  font-size: 16px;
  transition: all linear 0.25s;
  z-index: 2;

  display: -webkit-box;
  -webkit-line-clamp: 3; /* Maximum number of lines to be displayed */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-card-2 .profile-icons .fa {
  margin: 5px;
}

.profile-card-2:hover .profile-name {
  top: 40px;
}

.profile-card-2:hover .profile-username {
  top: 83px;
}

.profile-card-2:hover .profile-note {
  top: 108px;
}

.img-overlay-wrapper {
  width: 100%;
  height: 100%;
  opacity: 0.2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: #585656;
}
