<section class="search-sec">
  <form
    novalidate="novalidate"
    #contactForm="ngForm"
    (ngSubmit)="onSubmit(contactForm)"
  >
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 p-0">
          <!-- <input
              type="text"
              class="form-control search-slt"
              placeholder="Enter Pickup City"
            /> -->
          <mat-form-field
            class="form-control search-slt"
            style="padding-top: 10px"
            placeholder="Choose city..."
          >
            <select matNativeControl required name="city" ngModel>
              <option value="" disabled selected>Select your option</option>
              <option [ngValue]="'all'">All</option>
              <option *ngFor="let option of locations" [ngValue]="option.name">
                {{ option.name }}
              </option>
            </select>
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
          <input
            type="date"
            name="startDate"
            ngModel
            class="form-control search-slt"
            placeholder="Enter Start Date"
          />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
          <input
            type="date"
            name="endDate"
            ngModel
            class="form-control search-slt"
            placeholder="Enter End Date"
          />
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 pl-2">
          <button type="submit" class="btn wrn-btn">Search</button>
        </div>
      </div>
    </div>
  </form>
</section>

<div class="container">
  <div class="user-page-inner">
    <!-- <div class="col-md-4">
      <div class="profile-card-2">
        <div id="iov1" class="img-overlay-wrapper">
        </div>
        <img
          src="https://travel.home.sndimg.com/content/dam/images/travel/fullset/2015/08/24/backpacking-trip-young-woman.jpg.rend.hgtvcom.616.462.suffix/1491580937284.jpeg"
          class="img img-responsive"
        />
        <div class="profile-name">JOHN DOE</div>
        <div class="profile-username">@johndoesurname</div>
        <div class="profile-icons">
          <a href="#"><i class="fa fa-facebook"></i></a
          ><a href="#"><i class="fa fa-twitter"></i></a
          ><a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div> -->

    <div class="col-md-4" *ngFor="let item of tripPlans" (click) = onTripPlanClick(item)>
      <div class="profile-card-2">
        <div id="iov1" class="img-overlay-wrapper">
          <div class="img-overlay"></div>
        </div>

        <img
          src="{{ item.displayImage.imageUrl }}"
          class="img img-responsive object-fit-fill"
        />
        <div class="profile-name">{{ item.title }}</div>
        <div class="profile-username">
          {{ item.startDate | date : "shortDate" : "local" }} -
          {{ item.endDate | date : "shortDate" : "local" }}
        </div>
        <div class="profile-note" [innerHTML]="item.note"></div>
      </div>
    </div>
  </div>
</div>
