:host{
  position: fixed;
  top: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(247, 247, 247, 1);
  width: 100%;
  z-index: 100;
}

.container{
  background-color: #ffffff;
  border-radius: 10px;
  width: 80%;
  height: 130px;
  left: 0;
  margin-left: 0px;
}

h4{
  font-family: Inter, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.online-icon{
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  object-fit: contain;
}
.uh-image {
    display: flex;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: auto;
    margin-bottom: 5px;
  }
  .uh-image-inner {
    width: 3rem;
    height: 3rem;
    border: 0.3em solid var(--grey);
    object-fit: cover;
    border-radius: 50%;
    z-index: 2;
  }
  .gradient {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.3em;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(
      45deg,
      rgba(214, 41, 118, 1) 0%,
      rgba(250, 126, 30, 1) 100%
    );
  }

.mat-card-title{
    margin: 0 auto;
    text-align: left;
    width: 80px;
    overflow:hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mat-elevation-z4{
    max-width: 20px;
    width: 20px;
    margin-right: 10px;
}

owl-carousel-o {
    ::ng-deep{
     .owl-stage{
       .owl-item{
         width: 100px !important;
       }
     }
    }
   }

  