:host{
    position: fixed;
    top: 46vh;
    width: 17%;
}
.container{
    width: 100%;
    border-radius: 10px;
    height: 50vh;
    background-color: white;
    margin-left: 10px;
}

h4{
    font-family: Inter, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  