$topnav-background-color: #ffff;

// :host{
//   // position: fixed;
//   padding-top: 152px;
//   background-color: #f7f7f7c2;
//   width: 90%;
//   right: 15px;
//   top: 130px;
//   z-index: 2;
// }

:host {
  position: fixed;
  top: 160px;
  width: 22.5%;
  padding-right: 30px;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  width: 100%;
  height: fit-content;
  left: 0;
  margin-left: 0px;
  height: 82vh;
}

.place-thumbnnail {
  padding-top: 10px;
}
