<button
  type="button"
  class="close"
  aria-label="Close"
  (click)="bsModalRef.hide()"
>
  <span aria-hidden="true">&times;</span>
</button>

<form #myForm="ngForm" class="formOverall">
  <mat-tab-group>
    <mat-tab label="Overall">
      <ng-template matTabContent>
        <div [formGroup]="formGroup1" class="formGroup1">
          <div class="image-part">
            <input
              (change)="onFileSelected($event)"
              type="file"
              #fileInput
              style="display: none"
            />
            <button
              [hidden]="imageChangedEvent"
              class="btn btn-primary button-select"
              (click)="handleFileInput()"
            >
              Select from computer
            </button>

            <div [hidden]="!imageChangedEvent">
              <div class="btn-image-edit">
                <a href="javascript:void(0);" (click)="resetImage()"
                  ><i class="fa fa-refresh" aria-hidden="true"></i
                ></a>
                <a href="javascript:void(0);" (click)="flipHorizontal()"
                  ><i class="fa fa-arrows-h" aria-hidden="true"></i
                ></a>
                <a href="javascript:void(0);" (click)="flipVertical()"
                  ><i class="fa fa-arrows-v" aria-hidden="true"></i
                ></a>
                <a href="javascript:void(0);" (click)="rotateLeft()"
                  ><i class="fa fa-undo" aria-hidden="true"></i
                ></a>
                <a href="javascript:void(0);" (click)="rotateRight()"
                  ><i class="fa fa-repeat" aria-hidden="true"></i
                ></a>
                <a href="javascript:void(0);" (click)="zoomOut()"
                  ><i class="fa fa-search-minus" aria-hidden="true"></i
                ></a>
                <a href="javascript:void(0);" (click)="zoomIn()"
                  ><i class="fa fa-search-plus" aria-hidden="true"></i
                ></a>
                <a
                  href="javascript:void(0);"
                  style="font-weight: bold"
                  (click)="onSaveDisplayImage()"
                  >Save</a
                >
              </div>
              <div class="custom-image-cropper">
                <image-cropper
                  [imageChangedEvent]="imageChangedEvent"
                  [containWithinAspectRatio]="containWithinAspectRatio"
                  [maintainAspectRatio]="true"
                  [aspectRatio]="aspectRatio"
                  [autoCrop]="true"
                  [onlyScaleDown]="false"
                  [roundCropper]="false"
                  [canvasRotation]="canvasRotation"
                  [transform]="transform"
                  [alignImage]="'left'"
                  [style.display]="showCropper ? null : 'none'"
                  format="png"
                  (imageCropped)="imageCropped($event)"
                  (imageLoaded)="imageLoaded()"
                  (cropperReady)="cropperReady($event)"
                  (loadImageFailed)="loadImageFailed()"
                ></image-cropper>
              </div>
            </div>
          </div>
          <div class="content-part">
            <div class="userinfo-part">
              <div class="uh-image">
                <img
                  class="uh-image-inner"
                  src="{{ userInfo.avatar }}"
                  alt=""
                />
                <div class="gradient"></div>
              </div>
              <span
                ><strong>{{ userInfo.name }}</strong></span
              >
            </div>

            <!-- <textarea
              formControlName="caption"
              class="form-control mt-3"
              placeholder="Write your caption here..."
              #textAreaComment
              rows="4"
            ></textarea> -->

            <br />

            <ckeditor
              class="mt-3"
              [editor]="editor"
              formControlName="caption"
            ></ckeditor>

            <div class="form-check form-switch ml-1 mt-2">
              <input
                class="form-check-input"
                type="checkbox"
                formControlName="public"
                style="transform: scale(1.4)"
              />
              <label class="form-check-label" for="flexSwitchCheckDefault"
                >For Following Only</label
              >
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Itinerary">
      <ng-template matTabContent>
        <div [formGroup]="formGroup2" class="formGroup2">
          <div formArrayName="phones">
            <div
              *ngFor="let phone of phoneForms.controls; let i = index"
              [formGroupName]="i"
              class="mb-3"
            >
              <div class="date-range">
                <div class="date-group">
                  <label class="label-date">Start Date</label>
                  <input
                    type="date"
                    class="form-control input-date"
                    formControlName="startDate"
                  />
                </div>
                <div class="date-group">
                  <label class="label-date">End Date</label>
                  <input
                    type="date"
                    class="form-control input-date"
                    formControlName="endDate"
                  />
                </div>
                <i
                  style="cursor: pointer"
                  class="fa fa-trash"
                  aria-hidden="true"
                  (click)="deletePhone(i)"
                ></i>
              </div>

              <input
                type="text"
                class="form-control mt-2 mb-2 w-10"
                formControlName="title"
                placeholder="Title"
              />

              <textarea
                formControlName="description"
                class="form-control mt-3"
                placeholder="Write your description here..."
                #textAreaComment
                rows="4"
              ></textarea>

              <input
                type="text"
                class="form-control mt-3 md-3"
                placeHolder="Search place..."
                (input)="onSearchPlace($event, i)"
              />

              <div
                class="chat-messages"
                *ngIf="
                  placeSearchs && placeSearchs[i] && placeSearchs[i].length != 0
                "
              >
                <div
                  *ngFor="let item of placeSearchs[i]"
                  (click)="onChoosePlace(item, i)"
                  class="div-place"
                >
                  <div class="chat-message-left pb-4">
                    <div>
                      <img src="{{ item.images[0] }}" />
                      {{ item.name }}
                    </div>
                  </div>
                </div>
              </div>

              <owl-carousel-o [options]="customOptions">
                <ng-template
                  carouselSlide
                  *ngFor="let item of selectedPlaces[i]"
                >
                  <div class="place-thumbnnail">
                    <img src="{{ item.images[0] }}" class="mr-3" />
                    {{ item.name }}
                  </div>
                </ng-template>
              </owl-carousel-o>

              <br />

              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                  <i
                    class="fa fa-plus-circle button-add"
                    aria-hidden="true"
                    (click)="handleThumbnailInput(i)"
                  ></i>
                </ng-template>
                <input
                  (change)="onThumbnailSelected($event, i)"
                  type="file"
                  #thumbnailInput
                  formControlName="thumbnailInput"
                  style="display: none"
                />
                <ng-template carouselSlide *ngFor="let item of thumbnails[i]">
                  <img class="img-thumnal" src="{{ item }}" />
                </ng-template>
              </owl-carousel-o>
              <hr />
            </div>
          </div>

          <button class="btn btn-info m" (click)="addPhone()">
            Add Itinerary
          </button>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab disabled>
      <ng-template mat-tab-label>
        <a
          href="javascript:void(0);"
          style="font-weight: bolder"
          mat-icon-button
          (click)="submit()"
        >
          Submit
        </a>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <br />
</form>
