<nav
  [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }"
  class="sidebar"
>
  <div class="profile">
    <p class="text-center h4 fw-bold app-name">Together We Go</p>
    <br />
    <a
      href="javascript:void(0)"
      routerLink="/profiles/{{ loginUser.nameid }}"
      [routerLinkActive]="['router-link-active']"
      class="uh-image"
    >
      <img class="uh-image-inner" src="{{ loginUser.avatar }}" alt="" />
      <div class="gradient"></div>
    </a>
  </div>

  <div class="list-group">
    <div class="nested-menu" *ngFor="let item of menuTabs">
      <a
        class="list-group-item"
        (click)="addExpandClass(item.name)"
        *ngIf="item.children.length > 0"
      >
        <i class="fa {{ item.icon }}"></i>&nbsp;
        <span style="font-size: 19px;">{{ item.name }}</span>
        <span
          class="notification-count-unread"
          *ngIf="item.name == 'Notification'"
          >{{ unReadNotification }}</span
        >
      </a>
      <a
        (click)="onMenuClick(item)"
        *ngIf="item.children.length == 0"
        class="list-group-item"
      >
        <i class="fa {{ item.icon }}"></i>&nbsp;
        <span style="font-size: 19px;">{{ item.name }}</span>
        <span
          class="notification-count-unread"
          *ngIf="item.name == 'Notification' && unReadNotification != 0"
          >{{ unReadNotification }}</span
        >
      </a>
      <li
        *ngIf="item.children.length > 0"
        class="nested"
        [class.expand]="showMenu === item.name"
      >
        <ul class="submenu">
          <li *ngFor="let subItem of item.children">
            <a
              (click)="onMenuClick(subItem)"
              href="javascript:void(0)"
              routerLink="{{ subItem.url }}"
              [routerLinkActive]="['router-link-active']"
            >
              <i class="fa {{ subItem.icon }}"></i>&nbsp;
              <span style="font-size:19px">{{ subItem.name }}</span>
            </a>
          </li>
        </ul>
      </li>
    </div>
  </div>

  <div class="nested-menu">
    <div class="list-group-item" (click)="onLoggedout()">
      <i class="fa fa-sign-out"></i>&nbsp;     
      <span> Logout</span>
    </div>
  </div>

  <div
    (click)="toggleCollapsed()"
    [ngClass]="{ collapsed: collapsed }"
    class="toggle-button"
  >
    <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i
    >&nbsp;
    <span>{{ "Collapse Sidebar" }}</span>
  </div>
</nav>

<nav
  [ngClass]="{
    sidebarPushRight: isActive,
    'hide-transition': !isClickNoti,
    'visible-transition': isClickNoti
  }"
  class="sidebar"
  style="z-index: 2 !important; height: 100%; width: 400px; padding-left: 80px"
>
  <p class="text-center h4 fw-bold app-name" style="margin-top: 10%">
    Notification
  </p>
  <br />
  <div
    class="notification-item"
    *ngFor="let item of userNotifications"
    (click)="checkRead(item)"
  >
    <img class="noti-avatar" src="{{ item.fromAvatar }}" />&nbsp;
    <span [innerHTML]="formatNotificationContent(item)"></span>
    <span class="notification-read" *ngIf="!item.isRead"></span>
    <p class="notification-time">
      {{ item.createdDate | date : "short" : "local" }}
    </p>
  </div>
</nav>
